{template "content","header"}
<!--Sbody-->
<div id="content">
  <div class="contentBox inner_bg">
    <div class="inner_nav">
      <div class="ser">
        <input type="text" class="txt" value="请输入关键字" onFocus="if (value=='请输入关键字'){value='';this.style.color='#333'}" onBlur="if(!value){value=defaultValue;this.style.color='#8fc5d3'}" >
        <button type="submit">搜索</button>
      </div>
       <div><a href="{get_yp_url()}" class="on">企业黄页</a><a href="{APP_PATH}index.php?m=yp&c=index&a=model&modelid=17">产品</a><a href="{APP_PATH}index.php?m=yp&c=index&a=lists&modelid=18&areaid=&catid=43&page=1">商机</a><a href="{get_yp_url('company')}">企业库</a></div>
    </div>
    <div class="in_top clearfix">
      <div class="fl wid71 clearfix">
        <div class="leftBox wid42">
          <div class="bannerImg" >
            <ul class="slider" >
                {pc:yp action="position" posid="17" thumb="1" order="listorder asc" num="5" expiration="1"}
                {loop $data $r}
                <li><img src="{$r[thumb]}" alt="">
                    <p class="high"><a href="{$r[url]}">{$r[title]}</a></p>
                </li>
                {/loop}
                {/pc}
            </ul>
            <ul class="smallImg" >
                {pc:yp action="position" posid="17"  order="listorder asc" num="5" expiration="1"}
                {loop $data $r}
                <li>{$n}</li>
                {/loop}
                {/pc}
            </ul>
          </div>
        </div>
        <div class="rightBox wid28">
          <div class="moduleBox hei27 bg_fe">
            <h2><a href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=379" class="more">更多</a><strong>市场行情</strong></h2>
            <div class="chanceBox">
              <ul class="pd_lr">
                {pc:content action="lists" catid="379" num="7" order="id DESC"}
                    {loop $data $r}
                        <li class="clearfix"><span>{date('m-d', $r['updatetime'])}</span><a href="{$r[url]}">{str_cut($r[title], 50)}</a></li>
                    {/loop}
                {/pc}
              </ul>
            </div>
          </div>
        </div>
        <div class="clear"></div>
        <div class="moduleBox">
            <h2 class="bg">
              <a class="more" href="{APP_PATH}index.php?m=yp&c=index&a=model&modelid=17">更多</a><strong>产品目录</strong>
              <ul>
                {loop $pro_categorys $r}
                {if $r['parentid']=='0'}<li><a href="{$r[url]}">{$r['catname']}</a>{if $n!=1}|{/if}</li>{/if}
                {/loop}
              </ul>
            </h2>
            <div class="catalog">
               <ul>
                    {loop $pro_categorys $r}{if $r[parentid]=='0'}
                    <li class="bg clearfix">
                    <span class="show_d">展开</span><strong>{$r['catname']}</strong>
                     <dl class="category clearfix" id="der">
                       {php $arr_parentid = yp_subcat($r[catid], $product_id);}
                       {loop $arr_parentid $k}
                       <dd><a href="{$k['url']}">{$k['catname']}</a></dd>
                       {/loop}
                     </dl>
                  </li>
                  {/if}{/loop}
               </ul>
            </div>
        </div>
        <div class="moduleBox adPd">
           <img src="{IMG_PATH}newlook_v20140211/bn.png" class="fl">
           <img src="{IMG_PATH}newlook_v20140211/bn.png" class="fr">
        </div>
        <div class="moduleBox">
            <h2 class="bg">
              <strong>最新商机</strong>
              <ul>
                 <li><a href="{yp_filters_url('tid', array('tid'=>1, 'catid'=>43), 2, $buy_id)}">供应</a></li>
                 <li>|<a href="{yp_filters_url('tid', array('tid'=>2, 'catid'=>43), 2, $buy_id)}">求购</a>|</li>
                 <li><a href="{yp_filters_url('tid', array('tid'=>3, 'catid'=>43), 2, $buy_id)}">合作</a>|</li>
                 <li><a href="{yp_filters_url('tid', array('tid'=>4, 'catid'=>43), 2, $buy_id)}">项目</a>|</li>
              </ul>
            </h2>
            <div class="colInfo lin_r">
                <h3 class="head">供应信息</h3>
                <ul class="chanceBox ">
                    {pc:yp action="lists" where=" tid=1 and status=99 and elite=1 and thumb!=''" modelid="$buy_id" order="$order" num="1"}
                    {loop $data $r}
                    <li class="top">
                       <h3 class="tit"><a href="{$r[url]}">{str_cut($r[title],50)}</a><i></i></h3>
                       <p>{str_cut($r[title],100)}<a href="{$r[url]}" class="more">[详细]</a></p>
                    </li>
                    {/loop}
                    {/pc}
                    {pc:yp action="lists" where=" tid=1 and status=99 and elite!=1" modelid="$buy_id" order="$order" num="7"}
                    <ul class="list">
                        {loop $data $r}
                        <li>·<a href="{$r[url]}" target="_blank">{str_cut($r['title'],30,false)}</a></li>
                        <li class="clearfix"><span>{date('m-d', $r['updatetime'])}</span><a href="{$r[url]}">{str_cut($r['title'],30,false)}</a></li>
                        {/loop}
                    </ul>
                    {/pc}
                </ul>
            </div>
            <div class="colInfo">
                <h3 class="head">求购信息</h3>
                <ul class="chanceBox">
                    {pc:yp action="lists" where=" tid=2 and status=99 and elite=1 and thumb!=''" modelid="$buy_id" order="$order" num="1"}
                    {loop $data $r}
                    <li class="top">
                       <h3 class="tit"><a href="{$r[url]}">{str_cut($r[title],50)}</a><i></i></h3>
                       <p>{str_cut($r[title],100)}<a href="{$r[url]}" class="more">[详细]</a></p>
                    </li>
                    {/loop}
                    {/pc}
                    {pc:yp action="lists" where=" tid=2 and status=99 and elite!=1" modelid="$buy_id" order="$order" num="7"}
                    <ul class="list">
                        {loop $data $r}
                        <li>·<a href="{$r[url]}" target="_blank">{str_cut($r['title'],30,false)}</a></li>
                        <li class="clearfix"><span>{date('m-d', $r['updatetime'])}</span><a href="{$r[url]}">{str_cut($r['title'],30,false)}</a></li>
                        {/loop}
                    </ul>
                    {/pc}
                </ul>
            </div>
            <div class="colInfo lin_r">
                <h3 class="head">合作信息</h3>
                <ul class="chanceBox">
                    {pc:yp action="lists" where=" tid=3 and status=99 and elite=1 and thumb!=''" modelid="$buy_id" order="$order" num="1"}
                    {loop $data $r}
                    <li class="top">
                       <h3 class="tit"><a href="{$r[url]}">{str_cut($r[title],50)}</a><i></i></h3>
                       <p>{str_cut($r[title],100)}<a href="{$r[url]}" class="more">[详细]</a></p>
                    </li>
                    {/loop}
                    {/pc}
                    {pc:yp action="lists" where=" tid=3 and status=99 and elite!=1" modelid="$buy_id" order="$order" num="7"}
                    <ul class="list">
                        {loop $data $r}
                        <li>·<a href="{$r[url]}" target="_blank">{str_cut($r['title'],30,false)}</a></li>
                        <li class="clearfix"><span>{date('m-d', $r['updatetime'])}</span><a href="{$r[url]}">{str_cut($r['title'],30,false)}</a></li>
                        {/loop}
                    </ul>
                    {/pc}
                </ul>
            </div>
            <div class="colInfo">
                <h3 class="head">项目信息</h3>
                <ul class="chanceBox">
                    {pc:yp action="lists" where=" tid=4 and status=99 and elite=1 and thumb!=''" modelid="$buy_id" order="$order" num="1"}
                    {loop $data $r}
                    <li class="top">
                       <h3 class="tit"><a href="{$r[url]}">{str_cut($r[title],50)}</a><i></i></h3>
                       <p>{str_cut($r[title],100)}<a href="{$r[url]}" class="more">[详细]</a></p>
                    </li>
                    {/loop}
                    {/pc}
                    {pc:yp action="lists" where=" tid=4 and status=99 and elite!=1" modelid="$buy_id" order="$order" num="7"}
                    <ul class="list">
                        {loop $data $r}
                        <li>·<a href="{$r[url]}" target="_blank">{str_cut($r['title'],30,false)}</a></li>
                        <li class="clearfix"><span>{date('m-d', $r['updatetime'])}</span><a href="{$r[url]}">{str_cut($r['title'],30,false)}</a></li>
                        {/loop}
                    </ul>
                    {/pc}
                </ul>
            </div>
        </div>
        <div class="moduleBox adPd">
           <img src="{IMG_PATH}newlook_v20140211/bn.png" class="fl">
           <img src="{IMG_PATH}newlook_v20140211/bn.png" class="fr">
        </div>
        <div class="moduleBox hei27">
             <h2><a class="more" href="">更多</a><strong>推荐企业</strong></h2>
             <div class="fl wid42">
                 <ul class="recomBox">
                    <li class="clearfix"><a href=""><img src="{IMG_PATH}newlook_v20140211/lo.png"></a><h3>成都黑白之间景观规划设计有限公司</h3><p>居住类景观设计、商环境景观设计、城市公共空间设计、生态度假旅游规划设计、公园...</p></li>
                    <li class="clearfix"><a href=""><img src="{IMG_PATH}newlook_v20140211/lo.png"></a><a href=""><img src="{IMG_PATH}newlook_v20140211/lo.png"></a><a href=""><img src="{IMG_PATH}newlook_v20140211/lo.png"></a></li>
                 </ul>
             </div>
             <div class="fl">
                 <ul class="recomBox">
                    <li class="clearfix"><a href=""><img src="{IMG_PATH}newlook_v20140211/lo.png"></a><a href=""><img src="{IMG_PATH}newlook_v20140211/lo.png"></a></li>
                    <li class="clearfix"><a href=""><img src="{IMG_PATH}newlook_v20140211/lo.png"></a><a href=""><img src="{IMG_PATH}newlook_v20140211/lo.png"></a></li>
                 </ul>
             </div>
        </div>
        <div class="moduleBox hei27">
            <h2><a class="more" href="">更多</a><strong>推荐产品</strong><span>我要推荐</span></h2>
            {pc:yp action="position" posid="$posid" modelid="$product_id" thumb="1" order="listorder asc" num="8" expiration="1"}
            {loop $data $r}
            <li>
            <div class="img-wrap">
            <a title="" href="{$r[url]}" target="_blank"><img title="{$r[title]}" src="{$r[thumb]}" style="height: 85px; width: 61.5132px;"></a>
            </div>
            <a title="{$r[title]}" href="{$r[url]}">{str_cut($r[title],20,fasle)}</a>
            </li>
            {/loop}
            {/pc}


             <div class="fl wid42">
                 <ul class="recomBox">
                    {pc:yp action="position" posid="$posid" modelid="$product_id" thumb="1" order="listorder asc" num="1" expiration="1"}
                    {loop $data $r}
                    <li class="clearfix"><a href="{$r[url]}"><img src="{$r[thumb]}"></a><h3>{str_cut($r[title],20,fasle)}</h3><p>{str_cut($r[title],40,fasle)}</p></li>
                    {/loop}
                    {/pc}
                    <li class="clearfix">
                        {pc:yp action="position" posid="$posid" modelid="$product_id" thumb="1" order="listorder asc" num="4" expiration="1"}{loop $data $r}{if $n != 1}
                        <a href="{$r[url]}"><img src="{$r[thumb]}"></a>
                        {/if}{/loop}{/pc}
                    </li>
                 </ul>
             </div>
             <div class="fl">
                 <ul class="recomBox">
                    <li class="clearfix">
                        {pc:yp action="position" posid="$posid" modelid="$product_id" thumb="1" order="listorder asc" num="6" expiration="1"}{loop $data $r}{if $n > 4}
                        <a href="{$r[url]}"><img src="{$r[thumb]}"></a>
                        {/if}{/loop}{/pc}
                    </li>
                    <li class="clearfix">
                        {pc:yp action="position" posid="$posid" modelid="$product_id" thumb="1" order="listorder asc" num="8" expiration="1"}{loop $data $r}{if $n > 6}
                        <a href="{$r[url]}"><img src="{$r[thumb]}"></a>
                        {/if}{/loop}{/pc}
                    </li>
                 </ul>
             </div>
        </div>
      </div>
      <div class="fr wid27">
        <div class="moduleBox loginBox">
          <h2><a href="">新会员注册</a><strong>会员登录</strong></h2>
          <ul>
            <li>
              <dl>
                <dd class="sr">
                  <input type="text" onblur="if(!value){value=defaultValue;this.style.color='#aaa'}" onfocus="if (value=='用户名'){value='';this.style.color='#333'}" value="用户名" class="txt">
                  <input type="text" onblur="if(!value){value=defaultValue;this.style.color='#aaa'}" onfocus="if (value=='密码'){value='';this.style.color='#333'}" value="密码" class="txt">
                </dd>
                <dd>
                  <button class="login">登录</button>
                </dd>
              </dl>
            </li>
            <li><em id="recode"></em><span class="cl_aa">记住密码</span><a class="fd_p" href="">找回密码</a></li>
          </ul>
        </div>
        <div id="notice" class="scrollNews">
          <h3>最新通告</h3>
          <ul>
            <li><a href="">2013年8月份成都部分苗木指导价3</a></li>
            <li><a href="">2013年8月份成都部分苗木指导价1</a></li>
            <li><a href="">2013年8月份成都部分苗木指导价2</a></li>
          </ul>
        </div>
         <div class="moduleBox">
            <h2 class="bgy"><strong>最新登录企业排行</strong></h2>
            <div class="queue">
               <ul>

                {pc:yp action="get_company" num="10" order="regtime DESC" cache="3600"}
                {loop $data $i}
                <li><em {if $n==1}class="fi"{/if} {if $n==2}class="se"{/if} {if $n==3}class="th"{/if}>{$n}</em><a href="{$i['url']}">{$i['companyname']}</a></li>
                {/loop}
                {/pc}
               </ul>
            </div>
         </div>
         <div class="moduleBox">
            <h2 class="bgy"><strong>本周热点商机</strong></h2>
            <div class="newinfo otPd">
              <ul>
                {pc:yp action="hits" modelid="$modelid" order="weekviews DESC" num="10"}
                {loop $data $r}
                <li class="clearfix"><a href="{yp_filters_url('tid', array('tid'=>$r['tid'], 'catid'=>$r['catid']), 2, $modelid)}" class="cl_5b">[{$buy_type[$r['tid']]}]</a><a href="{yp_filters_url('tid', array('tid'=>$r['tid'], 'catid'=>$r['catid']), 2, $modelid)}">{str_cut($r['title'], 30)}</a></li>
                {/loop}
                {/pc}
              </ul>
            </div>
         </div>
         <div class="moduleBox">
            <h2 class="bgy"><strong>最新产品</strong></h2>
            <div class="newinfo otPd">
              <ul>
                {pc:yp action="lists" modelid="$product_id" order="id DESC" num="10"}
                {loop $data $r}
                    <li class="clearfix"><span>{date('m-d', $r['updatetime'])}</span><a href="{$r['url']}">{str_cut($r['title'], 50)}</a></li>
                {/loop}
                {/pc}
              </ul>
            </div>
         </div>
      </div>
    </div>
  </div>
</div>
<!--Ebody-->
{template "content","footer"}
