{template "content","header"}
<!--Sbody-->
<div id="content">
  <div class="contentBox inner_bg">
    <div class="inner_nav">
      <div class="ser">
        <input type="text" class="txt" value="请输入关键字" onFocus="if (value=='请输入关键字'){value='';this.style.color='#333'}" onBlur="if(!value){value=defaultValue;this.style.color='#8fc5d3'}" >
        <button type="submit">搜索</button>
      </div>
      <div><a href="{get_yp_url()}">企业黄页</a><a href="{APP_PATH}index.php?m=yp&c=index&a=model&modelid=17" class="on">产品</a><a href="{APP_PATH}index.php?m=yp&c=index&a=lists&modelid=18&areaid=&catid=43&page=1">商机</a><a href="{get_yp_url('company')}">企业库</a></div>
    </div>

    <div class="in_top clearfix">
        <div class="fl wid71 clearfix">
            <div class="bannerHlist">
              <a class="last" href=""><img src="{IMG_PATH}newlook_v20140211/bn2.png"></a>
           </div>
           <div class="moduleBox bd_tp">
             <div class="catalog">
               <ul>
                  <li class="clearfix">
                    <span class="show_d">展开</span><label>分类</label>
                     <dl class="category clearfix">
                        {php $fdata = yp_filters('catid',$modelid,$cat_arr,0);}
                        {loop $fdata $r}
                            {$r[menu]}
                        {/loop}
                     </dl>
                  </li>
                  <li class="clearfix">
                    <span class="show_d">展开</span><label>产地</label>
                     <dl class="category  clearfix">
                        {php $areaid = intval($_GET['areaid']); $linkage_data = yp_show_linkage(1, 'areaid', $areaid, $modelid);}
                        {loop $linkage_data $r}
                            <dd><a href="{$r['url']}">{$r['title']}</a>|</dd>
                        {/loop}
                     </dl>
                  </li>
               </ul>
            </div>
           </div>
           <div class="moduleBox">
              <h2 class="bgimg">
               <select>
                   <option onchange="function() {window.location='{$current_url}&order=3'}">时间升序</option>
                   <option onchange="function() {window.location='{$current_url}&order=4'}">时间降序</option>
                </select>
              <strong>产品信息</strong>
              </h2>
              <div class="prductList">
                 <ul>
                    {php $sql = yp_filters_sql($modelid);$y=1;$listorder = array(1=>'price ASC', 'price DESC', 'updatetime ASC', 'updatetime DESC');}
                    {php $order = $_GET['order'] ? $listorder[intval($_GET['order'])] : 'updatetime DESC'}
                    {php $urlrule = yp_makeurlrule();}
                    {pc:yp action="lists" where="$sql" modelid="$modelid" order="$order" num="10" page="$page" urlrule="$urlrule" thumb="1"}
                    {loop $data $r}
                    {php $memberinfo = get_companyinfo($r['userid'], 'companyname, publish_total, url');$publish_total = string2array($memberinfo['publish_total']);}
                    <li class="clearfix">
                      <a href="{$r[url]}"><img src="{thumb($r[thumb],180,120)}"></a>
                      <div class="descrip">
                         <h3><a href="">{$r[title]}</a></h3>
                         <p>商家：<a href="{$memberinfo['url']}">{$memberinfo['companyname']}</a>&nbsp;&nbsp;|&nbsp;&nbsp;累计信用：0 <br/>共 {$publish_total[$modelid]} 条此类产品信息</p>
                         <span>更新日期：{date('Y-m-d', $r[updatetime])}</span>
                      </div>
                      <div class="price">
                         ¥{$r['price']}
                      </div>
                    </li>
                    {php $y++;}
                    {/loop}
                    {if $pages}<div id="pages" class="text-c">{$pages}</div>{/if}
                    {/pc}
                 </ul>
                 <div class="page-s">
                   <a href="">1</a><a href="" class="on">2</a><a href="">3</a><a href="">4</a><a href="">5</a><a href="">6</a><a class="more">...</a><a href="">13</a>
                 </div>
              </div>
           </div>
           <div class="moduleBox">
              <h2><strong>推荐产品</strong><span>我要发布</span></h2>
              <div class="newPr pd_list">
                 <ul>
                    {php $categorys_p = getcache('category_yp_'.$modelid, 'yp');}
                    {pc:yp action="position" posid="$posid" modelid="$modelid" num="5" order="listorder ASC" expiration="1" thumb="1"}
                        {loop $data $r}
                            <li><a href="{$r['url']}"><img src="{thumb($r[thumb],120,80)}"></a><p><a href="{$r['url']}">{str_cut($r['title'], 30)}</a></p></li>
                        {/loop}
                    {/pc}
                 </ul>
             </div>
           </div>
           <div class="moduleBox">
              <h2><strong>最新产品</strong><span>我要发布</span></h2>
              <div class="newPr pd_list">
                 <ul>
                    {pc:yp action="lists" modelid="$modelid" thumb="1" order="id DESC" num="5"}
                    {loop $data $r}
                    <li><a href="{$r['url']}"><img src="{thumb($r[thumb],120,80)}"></a><p><a href="{$r['url']}">{$r['title']}</a></p></li>
                    {/loop}
                    {/pc}
                 </ul>
             </div>
           </div>
        </div>
        <div class="fr wid27">
            <div class="bannerHlist">
              <a class="last" href=""><img src="{IMG_PATH}newlook_v20140211/bn3.png"></a>
           </div>
            <div class="moduleBox">
            <h2><strong>24小时热点商机</strong></h2>
            <div class="queue">
               <ul>
                  {php $buy_type = $this->buy_type;}
                    {pc:yp action="hits" modelid="$modelid" day="1" num="5"}
                    {loop $data $r}
                    <li><em {if $n==1}class="fi"{/if}{if $n==2}class="se"{/if}{if $n==3}class="th"{/if} >{$n}</em><a href="{yp_filters_url('tid', array('tid'=>$r['tid'], 'catid'=>$r['catid']), 2, $modelid)}" class="cl_5b">[{$buy_type[$r['tid']]}]</a><a href="{$r['url']}">{$r['title']}</a></li>
                    {/loop}
                    {/pc}
               </ul>
            </div>
         </div>
         <div class="moduleBox">
            <h2><strong>周热点商机</strong></h2>
            <div class="queue">
               <ul>
                    {pc:yp action="hits" modelid="$modelid" order="weekviews DESC" num="10"}
                    {loop $data $r}
                    <li><em {if $n==1}class="fi"{/if}{if $n==2}class="se"{/if}{if $n==3}class="th"{/if} >{$n}</em><a href="{yp_filters_url('tid', array('tid'=>$r['tid'], 'catid'=>$r['catid']), 2, $modelid)}" class="cl_5b">[{$buy_type[$r['tid']]}]</a><a href="{$r['url']}">{str_cut($r['title'], 30)}</a></li>
                    {/loop}
                    {/pc}
               </ul>
            </div>
         </div>
        </div>
    </div>
  </div>
</div>
<!--Ebody-->
{template "content","footer"}
