{template "content","header"}
<!--Sbody-->
<div id="content">
  <div class="contentBox inner_bg">
    <div class="inner_nav">
      <div class="ser">
        <input type="text" class="txt" value="请输入关键字" onFocus="if (value=='请输入关键字'){value='';this.style.color='#333'}" onBlur="if(!value){value=defaultValue;this.style.color='#8fc5d3'}" >
        <button type="submit">搜索</button>
      </div>
      <div><a href="{get_yp_url()}">企业黄页</a><a href="{APP_PATH}index.php?m=yp&c=index&a=model&modelid=17" class="on">产品</a><a href="{APP_PATH}index.php?m=yp&c=index&a=lists&modelid=18&areaid=&catid=43&page=1">商机</a><a href="{get_yp_url('company')}">企业库</a></div>
    </div>

    <div class="in_top clearfix">
        <div class="fl wid71 clearfix">
            <div class="bannerHlist">
              <a class="last" href=""><img src="{IMG_PATH}newlook_v20140211/bn2.png"></a>
           </div>
           <div class="moduleBox">
               <h2 class="bg"><strong>产品分类</strong></h2>
               <div class="catalog">
                  <ul>
                     {loop $arr_parentid $c}
                     <li class="ls">
                         <h3>{$c['catname']}</h3>
                         {if $c['child']}
                         {php $arr_child = yp_subcat($c['catid'], $modelid);}
                         <p>
                            {loop $arr_child $catc}
                            <a href="{$catc['url']}">{$catc['catname']}</a>
                            {/loop}
                         </p>
                         {/if}
                     </li>
                     {/loop}
                  </ul>
               </div>
           </div>
           <div class="moduleBox">
              <h2><strong>推荐产品</strong><span>我要发布</span></h2>
              <div class="newPr pd_list">
                 <ul>
                    {php $categorys_p = getcache('category_yp_'.$modelid, 'yp');}
                    {pc:yp action="position" posid="$posid" modelid="$modelid" num="5" order="listorder ASC" expiration="1" thumb="1"}
                        {loop $data $r}
                            <li><a href="{$r['url']}"><img src="{thumb($r[thumb],120,80)}"></a><p><a href="{$r['url']}">{str_cut($r['title'], 30)}</a></p></li>
                        {/loop}
                    {/pc}
                 </ul>
             </div>
           </div>
           <div class="moduleBox">
              <h2><strong>最新产品</strong><span>我要发布</span></h2>
              <div class="newPr pd_list">
                 <ul>
                    {pc:yp action="lists" modelid="$modelid" thumb="1" order="id DESC" num="5"}
                    {loop $data $r}
                    <li><a href="{$r['url']}"><img src="{thumb($r[thumb],120,80)}"></a><p><a href="{$r['url']}">{$r['title']}</a></p></li>
                    {/loop}
                    {/pc}
                 </ul>
             </div>
           </div>
        </div>
        <div class="fr wid27">
            <div class="bannerHlist">
              <a class="last" href=""><img src="{IMG_PATH}newlook_v20140211/bn3.png"></a>
           </div>
            <div class="moduleBox">
            <h2><strong>24小时热点商机</strong></h2>
            <div class="queue">
               <ul>
                    {php $buy_type = $this->buy_type;}
                    {pc:yp action="hits" modelid="$modelid" day="1" num="5"}
                    {loop $data $r}
                    <li><em {if $n==1}class="fi"{/if}{if $n==2}class="se"{/if}{if $n==3}class="th"{/if} >{$n}</em><a href="{yp_filters_url('tid', array('tid'=>$r['tid'], 'catid'=>$r['catid']), 2, $modelid)}" class="cl_5b">[{$buy_type[$r['tid']]}]</a><a href="{$r['url']}">{$r['title']}</a></li>
                    {/loop}
                    {/pc}
               </ul>
            </div>
         </div>
         <div class="moduleBox">
            <h2><strong>周热点商机</strong></h2>
            <div class="queue">
               <ul>
                    {pc:yp action="hits" modelid="$modelid" order="weekviews DESC" num="10"}
                    {loop $data $r}
                    <li><em {if $n==1}class="fi"{/if}{if $n==2}class="se"{/if}{if $n==3}class="th"{/if} >{$n}</em><a href="{yp_filters_url('tid', array('tid'=>$r['tid'], 'catid'=>$r['catid']), 2, $modelid)}" class="cl_5b">[{$buy_type[$r['tid']]}]</a><a href="{$r['url']}">{str_cut($r['title'], 30)}</a></li>
                    {/loop}
                    {/pc}
               </ul>
            </div>
         </div>
        </div>
    </div>
  </div>
</div>
<!--Ebody-->
{template "content","footer"}
