{template "content","header"}
<!--Sbody-->
<div id="content">
  <div class="contentBox inner_bg">
    <div class="inner_nav">
      <div class="ser">
        <input type="text" class="txt" value="请输入关键字" onFocus="if (value=='请输入关键字'){value='';this.style.color='#333'}" onBlur="if(!value){value=defaultValue;this.style.color='#8fc5d3'}" >
        <button type="submit">搜索</button>
      </div>
      <div><a href="{get_yp_url()}">企业黄页</a><a href="{APP_PATH}index.php?m=yp&c=index&a=model&modelid=17" >产品</a><a href="{APP_PATH}index.php?m=yp&c=index&a=lists&modelid=18&areaid=&catid=43&page=1" class="on">商机</a><a href="{get_yp_url('company')}">企业库</a></div>
    </div>

    <div class="in_top clearfix">
        <div class="fl wid71 clearfix">
            <div class="bannerHlist">
              <a class="last" href=""><img src="{IMG_PATH}newlook_v20140211/bn2.png"></a>
           </div>
           <div class="moduleBox">
              <div class="listInfo">
                 <h3>{$title}</h3>
                 <ul class="sj clearfix">
                    <li class="fl">
                        {php $memberinfo = get_companyinfo($userid);$type_arr = get_parent_url($modelid, $catid);}
                       <p><label>商家：</label><a href="">{$memberinfo['companyname']}</a></p>
                       <p><label>类别：</label>{$type_arr['title']}</p>
                       <p><label>品牌：</label>{$brand}</p>
                       <p><label>型号：</label>{$standard}</p>
                     <p><label>产地：</label>{$yieldly}</p>
                       <p><label>价格：</label>{$price}元 {if $units}/ {$units} {/if}</p>
                       <p><label>更新：</label>{$updatetime}</p>
                    </li>
                    <li class="fr">
                      <div class="trade wid35">
                 <h4>联系方式</h4>
                 <dl>
                    <dd>公司名称：{$memberinfo['companyname']}</dd>
                    <dd>网址：{$memberinfo['web_url']}</dd>
                    <dd>地址：{$memberinfo['address']}</dd>
                    <dd>联系人：{$memberinfo['linkman']}</dd>
                    <dd>传真：{$memberinfo['fax']}</dd>
                    <dd>电话：{$memberinfo['company_tel']} </dd>
                    <dd><a href="{$memberinfo['url']}" class="btn dp">进入店铺</a><a href="{$memberinfo['url']}" class="fr"><img src="{$memberinfo['logo']}"></a></dd>
                 </dl>
              </div>
                    </li>
                 </ul>
                 <ul class="clearfix">
                     <li class="clearfix">
                       <p class="tit">产品描述</p>
                       <!-- <dl class="clearfix">
                          <dd class="fl wid27">栽植方式：实生</dd>
                          <dd class="fl wid27">栽植年份:2010年</dd>
                          <dd class="fl wid27">树冠：全冠 带骨架</dd>
                          <dd class="fl wid27">头径：80厘米</dd>
                          <dd class="fl wid27">冠幅:80厘米</dd>
                          <dd class="fl wid27">杆度（米）：1~2米</dd>
                          <dd class="fl wid27">分枝点:12米</dd>
                       </dl>
                       <dl>
                         <dd>欢迎实地考察加拿利海枣，来电洽谈</dd>
                       </dl> -->
                       {$memberinfo['logo']}
                    </li>
                 </ul>
                 <div class="generic">
                    <div class="title"><strong>在线咨询</strong></div>
                    <form action="{APP_PATH}index.php?m=yp&c=com_index&a=guestbook&userid={$userid}" method="post" name="myform" id="myform">
                    <input name="info[userid]" type="hidden" value="{$userid}" />
                    <input name="info[title]" type="hidden" value="{$title}" />
                    <input name="info[url]" type="hidden" value="{get_url()}" />
                    <div class="content">
                       <textarea name="info[content]" id="content"></textarea>
                       <div><input type="checkbox" id="SubContact" /> 为了方便商家与您取得联系，建议你留下联系方式</div>
                       <div>验证码：<input name="code" type="text" id="code" size="10"  class="txt"/><!-- <img src="{IMG_PATH}newlook_v20140211/yzm.png"> -->{form::checkcode('code_img','4','14',110,30)}<span class="onShow">请输入验证码</span></div>
                       <div class="btn"><input type="submit" value="提交留言" name="dosubmit"></div>
                    </div>
                    </form>
                 </div>
              </div>

           </div>
           <div class="moduleBox">
            <h2><strong>相关产品</strong><span>我要发布</span></h2>
              <div class="newPr pd_list">
                 <ul>
                    {pc:yp action="relation" id="$id" modelid="$modelid" thumb="1" num="5" keywords="$str_keywords"}
                    {loop $data $r}
                    <li><a href="{$r['url']}"><img src="{thumb($r[thumb],120,80)}"></a><p><a href="{$r['url']}">{$r['title']}</a></p></li>
                    {/loop}
                    {/pc}
                 </ul>
             </div>
           </div>
           <div class="moduleBox">
            <h2><strong>最新产品</strong><span>我要发布</span></h2>
              <div class="newPr pd_list">
                 <ul>
                    {pc:yp action="lists" modelid="$modelid" thumb="1" order="id DESC" num="5"}
                    {loop $data $r}
                    <li><a href="{$r['url']}"><img src="{thumb($r[thumb],120,80)}"></a><p><a href="{$r['url']}">{$r['title']}</a></p></li>
                    {/loop}
                    {/pc}
                 </ul>
             </div>
           </div>
        </div>
        <div class="fr wid27">
            <div class="bannerHlist">
              <a class="last" href=""><img src="{IMG_PATH}newlook_v20140211/bn3.png"></a>
           </div>
            <div class="moduleBox">
            <h2><strong>24小时热点商机</strong></h2>
            <div class="queue">
               <ul>
                    {php $buy_type = $this->buy_type;}
                    {pc:yp action="hits" modelid="$modelid" day="1" num="5"}
                    {loop $data $r}
                    <li><em {if $n==1}class="fi"{/if}{if $n==2}class="se"{/if}{if $n==3}class="th"{/if} >{$n}</em><a href="{yp_filters_url('tid', array('tid'=>$r['tid'], 'catid'=>$r['catid']), 2, $modelid)}" class="cl_5b">[{$buy_type[$r['tid']]}]</a><a href="{$r['url']}">{$r['title']}</a></li>
                    {/loop}
                    {/pc}
               </ul>
            </div>
         </div>
         <div class="moduleBox">
            <h2><strong>周热点商机</strong></h2>
            <div class="queue">
               <ul>
                    {pc:yp action="hits" modelid="$modelid" order="weekviews DESC" num="10"}
                    {loop $data $r}
                    <li><em {if $n==1}class="fi"{/if}{if $n==2}class="se"{/if}{if $n==3}class="th"{/if} >{$n}</em><a href="{yp_filters_url('tid', array('tid'=>$r['tid'], 'catid'=>$r['catid']), 2, $modelid)}" class="cl_5b">[{$buy_type[$r['tid']]}]</a><a href="{$r['url']}">{str_cut($r['title'], 30)}</a></li>
                    {/loop}
                    {/pc}
               </ul>
            </div>
         </div>
        </div>
    </div>
  </div>
</div>
<!--Ebody-->
{template "content","footer"}
