{template "content","header"}
<!--Sbody-->
<div id="content">
  <div class="contentBox inner_bg">
    <div class="inner_nav">
      <div class="ser">
        <input type="text" class="txt" value="请输入关键字" onFocus="if (value=='请输入关键字'){value='';this.style.color='#333'}" onBlur="if(!value){value=defaultValue;this.style.color='#8fc5d3'}" >
        <button type="submit">搜索</button>
      </div>
      <div><a href="{get_yp_url()}">企业黄页</a><a href="{APP_PATH}index.php?m=yp&c=index&a=model&modelid=17" class="on">产品</a><a href="{APP_PATH}index.php?m=yp&c=index&a=lists&modelid=18&areaid=&catid=43&page=1">商机</a><a href="{get_yp_url('company')}">企业库</a></div>
    </div>

    <div class="in_top clearfix">
        <div class="fl wid71 clearfix">
            <div class="bannerHlist">
              <a class="last" href=""><img src="{IMG_PATH}newlook_v20140211/bn2.png"></a>
           </div>
           <div class="moduleBox">
              <div class="listInfo">
                 <h3>{$title}</h3>
                 <ul class="clearfix">
                    <li class="fl">
                       <img src="{IMG_PATH}newlook_v20140211/ad3.png">
                    </li>
                    {php $memberinfo = get_companyinfo($userid);$type_arr = get_parent_url($modelid, $catid);}
                    <li class="fl">
                       <p><label>商家：</label><a href="{$memberinfo['url']}">{$memberinfo['companyname']}</a></p>
                       <p><label>类别：</label>{$type_arr['title']}</p>
                       <p><label>产地：</label>{$yieldly}</p>
                       <p><label>价格：</label>{$price}元{if $units}/{$units}{/if}</p>
                       <p><label>更新：</label>{$updatetime}</p>
                       <p class="price">
                          <a href="">¥{$price}</a>
                       </p>
                    </li>
                 </ul>
                 <ul class="clearfix">
                     <li class="clearfix">
                       <p class="tit">产品描述</p>
                       <dl class="clearfix">
                          {loop $additional_base $ab $af}
                          <dd class="fl">{$additional_fields[$ab]['name']}：{$af}</dd>
                          {/loop}
                       </dl>
                       <!-- <dl>
                         <dd>欢迎实地考察加拿利海枣，来电洽谈</dd>
                       </dl> -->
                    </li>
                 </ul>
              </div>
              <div class="trade">
                 <h4>商家基本信息</h4>
                 <dl>
                    <dd class="yp-btn"><a href="{compute_company_url('guestbook', array('userid'=>$memberinfo['userid']))}" class="btn">给我留言</a><a href="{$memberinfo['url']}" class="btn">进入商铺</a></dd>
                    <dd>公司名称：{$memberinfo['companyname']}</dd>
                    <dd>网址：{$memberinfo['web_url']}</dd>
                    <dd>地址：{$memberinfo['address']}</dd>
                    <dd>联系人：{$memberinfo['linkman']}</dd>
                    <dd>传真：{$memberinfo['fax']}</dd>
                    <dd>电话：{$memberinfo['telephone']} </dd>
                 </dl>
              </div>
              <div class="newPr pd_list">
                 <h3>商家推荐产品</h3>
                 <ul>
                    {php $sql="`userid`='$userid' AND `status`=99 AND `elite`=1";}
                    {pc:yp action="lists" where="$sql" modelid="$modelid" num="10" thumb="1"}
                    {loop $data $r}
                        <li><a href="{$r['url']}"><img src="{thumb($r[thumb],120,80)}"></a><p><a href="{$r['url']}">{str_cut($r['title'], 20)}</a></p></li>
                    {/loop}
                    {/pc}
                 </ul>
             </div>
           </div>
           <div class="moduleBox">
            <h2><strong>相关产品</strong><span>我要发布</span></h2>
              <div class="newPr pd_list">
                 <ul>
                    {pc:yp action="relation" id="$id" modelid="$modelid" num="10" keywords="$str_keywords" thumb="1"}
                    {loop $data $r}
                        <li><a href="{$r['url']}"><img src="{thumb($r[thumb],120,80)}"></a><p><a href="{$r['url']}">{str_cut($r['title'],34,false)}</a></p></li>
                    {/loop}
                    {/pc}
                 </ul>
             </div>
           </div>
        </div>
        <div class="fr wid27">
            <div class="bannerHlist">
              <a class="last" href=""><img src="{IMG_PATH}newlook_v20140211/bn3.png"></a>
           </div>
            <div class="moduleBox">
            <h2><strong>24小时热点商机</strong></h2>
            <div class="queue">
               <ul>
                    {php $buy_type = $this->buy_type;}
                    {pc:yp action="hits" modelid="$modelid" day="1" num="5"}
                    {loop $data $r}
                    <li><em {if $n==1}class="fi"{/if}{if $n==2}class="se"{/if}{if $n==3}class="th"{/if} >{$n}</em><a href="{yp_filters_url('tid', array('tid'=>$r['tid'], 'catid'=>$r['catid']), 2, $modelid)}" class="cl_5b">[{$buy_type[$r['tid']]}]</a><a href="{$r['url']}">{$r['title']}</a></li>
                    {/loop}
                    {/pc}
               </ul>
            </div>
         </div>
         <div class="moduleBox">
            <h2><strong>周热点商机</strong></h2>
            <div class="queue">
               <ul>
                    {pc:yp action="hits" modelid="$modelid" order="weekviews DESC" num="10"}
                    {loop $data $r}
                    <li><em {if $n==1}class="fi"{/if}{if $n==2}class="se"{/if}{if $n==3}class="th"{/if} >{$n}</em><a href="{yp_filters_url('tid', array('tid'=>$r['tid'], 'catid'=>$r['catid']), 2, $modelid)}" class="cl_5b">[{$buy_type[$r['tid']]}]</a><a href="{$r['url']}">{str_cut($r['title'], 30)}</a></li>
                    {/loop}
                    {/pc}
               </ul>
            </div>
         </div>
        </div>
    </div>
  </div>
</div>
<!--Ebody-->
{template "content","footer"}
