{template "content","header"}
<!--Sbody-->
<div id="content">
  <div class="contentBox inner_bg">
    <div class="inner_nav">
      <div>
      {pc:content action="category" catid="$top_parentid" num="15" siteid="$siteid" order="listorder ASC"}
	  {loop $data $r}
	  <a href="{$r[url]}">{$r[catname]}</a>
	  {/loop}
      {/pc}
      <!-- <a href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=51">新闻</a><a href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=52">技术</a><a href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=53">招标</a><a href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=54">政务</a><a href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=55">展会</a><a href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=56">会员</a><a href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=57">学会</a><a href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=379">市场</a> --></div>
    </div>
    <div class="in_top clearfix">
      <div class="leftBox wid42">
          <div class="bannerImg">
			<ul class="slider" style="top: 0px; opacity: 1;">
            {pc:content  action="lists" catid="51" order="id DESC" thumb="1" num="4"}
            {loop $data $k $v}
                <li><img alt="{$v[title]}" src="{thumb($v[thumb], 420, 274)}"><p class="fs_14"><a href="{$v[url]}">{$v[title]}</a></p></li>
            {/loop}
            {/pc}
			</ul>
		</div>
         <div >
            <ul class="smallImg picontrol">
                {pc:content  action="lists" catid="51" order="id DESC" thumb="1" num="4"}
                {loop $data $k $v}
                    <li class="on"><img alt="" src="{thumb($v[thumb], 92, 57)}"></li>
                {/loop}
                {/pc}
			  </ul>
         </div>
       </div>
       <div class="rightBox wid56">
           <div class="moduleBox hei34">
              <h2><a class="more" href="">更多</a><strong>新闻</strong></h2>
              <div class="recomBox info_ns">
                 <ul>
                    {pc:content  action="position" posid="16"  thumb="1" order="listorder DESC" num="1"}
                    {loop $data $v}
                    <li class="clearfix"><a href="{$v[url]}"><img src="{thumb($v[thumb],120,90)}"></a><h3><a href="{$v[url]}">{str_cut($v[title], 60)}</a></h3><p>{str_cut(strip_tags($v[description]), 160)}</p></li>
                    {/loop}
                    {/pc}
                    {pc:content  action="lists" catid="$catid" order="id DESC" num="6"}
                    {loop $data $k $v}
                    <li class="clearfix"><span>{date('m-d', $v['updatetime'])}</span><a href="{$v[url]}">{str_cut($v[title], 120)}</a></li>
                    {/loop}
                    {/pc}
                 </ul>
             </div>
           </div>
       </div>
    </div>
    <div class="in_mid clearfix">
         <div class="fl wid71 clearfix">
            <div class="bannerHlist">
              <a href="" class="last"><img src="{IMG_PATH}newlook_v20140211/bn2.png"></a>
           </div>

           {php $j=1;}
           {loop subcat($catid) $v}
           {php if($v['type']!=0) continue;}
           {if $j%2!=0}<div>{/if}
             <div class="fl moduleBox wid35 ">
                 <h2><a href="{$v[url]}" class="more">更多</a><strong>{$v[catname]}</strong></h2>
                 <div class="recomBox info_ns">
                 <ul>
                    {pc:content action="lists" catid="$v[catid]" num="10" order="id DESC"}
                    {loop $data $v}
                        <li class="clearfix"><a href="{$v[url]}">{str_cut($v[title], 50)}</a></li>
                    {/loop}
                    {/pc}

                 </ul>
             </div>
             </div>
             {if $j%2==0}</div>{/if}
             {$j++}
             {/loop}
           <div class="clear"></div>
           <div class="moduleBox">
            <h2><a href="{APP_PATH}index.php?m=yp&c=index&a=model&modelid=17&siteid={$siteid}" class="more">更多</a><strong>推荐产品</strong><span>我要发布</span></h2>
              <div class="newPr pd_list">
                 <ul>
                    {pc:yp action="position" posid="8" modelid="17" thumb="1" num="5" order="listorder ASC" expiration="1"}
                    {loop $data $v}
                        <li><a href="{$v[url]}" target="_blank"{title_style($v[style])}>{str_cut($v[title],30)}</a> <font  size="1px"  color="#777"> {str_cut(get_company_by_username($v['username']),35,"")}</font></li>

                        <li><a href="{$v[url]}"><img src="{thumb($v[thumb],120,80)}"></a><p><a href="{$v[url]}">{str_cut($v[title],30)}</a></p></li>
                    {/loop}
                    {/pc}
                 </ul>
             </div>
           </div>
        </div>

        <div class="fr wid27">
            <div class="bannerHlist">
              <a href="" class="last"><img src="{IMG_PATH}newlook_v20140211/bn3.png"></a>
           </div>
         <div class="moduleBox">
            <h2><strong>频道总排行</strong></h2>
            <div class="queue">
               <ul>
                {pc:content action="hits" catid="$catid" num="10" order="views DESC" cache="3600"}
                {loop $data $v}
                    <li><a href="{$v[url]}" style="none"><em {if $n==1}class="fi"{/if}{if $n==2}class="se"{/if}{if $n==3}class="th"{/if} >{$n}</em><a href="{$v[url]}">{$v[title]}</a></li>
                {/loop}
                {/pc}
               </ul>
            </div>
         </div>
         <div class="moduleBox">
            <h2><strong>频道本月排行</strong></h2>
            <div class="queue">
               <ul>
                {pc:content action="hits" catid="$catid" num="8" order="monthviews DESC" cache="3600"}
                {loop $data $v}
                <li><a herf="{$v[url]}" style="none"><em class="wd yl">{number_format($v[monthviews])}</em><a href="{$v[url]}">{$v[title]}</a></li>
                {/loop}
                {/pc}
               </ul>
            </div>
         </div>
         <div class="bannerHlist">
              <a class="last" href=""><img src="{IMG_PATH}newlook_v20140211/bn3.png"></a>
           </div>
        </div>
		</div>
    </div>
  </div>
</div>
<!--Ebody-->
{template "content","footer"}
