{template "content","header"}
<!--Sbody-->
<div id="content">
  <div class="contentBox inner_bg">
    <div class="inner_nav">
      <div class="ser">
        <input type="text" class="txt" value="请输入关键字" onFocus="if (value=='请输入关键字'){value='';this.style.color='#333'}" onBlur="if(!value){value=defaultValue;this.style.color='#8fc5d3'}" >
        <button type="submit">搜索</button>
      </div>
      <div><a href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=97">图纸</a><a href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=98">文章</a><a href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=99">资料</a><a href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=100">图片</a><a href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=101">样本</a><a href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=102">专题</a></div>
    </div>

    <div class="in_top clearfix">
        <div class="fl wid71 clearfix">
            <div class="bannerHlist">
              <a class="last" href=""><img src="{IMG_PATH}newlook_v20140211/bn2.png"></a>
           </div>
           <div class="moduleBox">
              <h2 class="bgimg">
                <strong>企业样本</strong>
              </h2>
              <div class="imgDown">
                 <ul class="clearfix">
                    {pc:content action="lists" catid="$catid" num="4"  thumb="1" order="id DESC" page="$page"}
                    {loop $data $r}
                        <li class="fl wid32"><a href=""><img src="{thumb($r[thumb], 140, 105)}"></a>
                          <div class="wid16 fl">
                             <p class="title"><a href="{$r[url]}">{str_cut($r[title],24,'')}</a></p>
                             <p class="note">简介： CAD植物绘图，包含市场大部分的植物图</p>
                             <p>
                               <a href="" class="dw"><i class="fl"></i>下载</a><em></em>
                             </p>
                          </div>
                        </li>
                    {/loop}
                    {/pc}
                 </ul>
              </div>
           </div>
           <div class="moduleBox">
              <h2 class="bgimg">
              <a class="more" href="">更多</a>
              <strong>图纸</strong>
              </h2>
              <div class="imgDown">
                <ul class="clearfix">
                {loop subcat($catid,0) $r}{if $r[catname]=='图纸'}
                {pc:content action="lists" catid="$r[catid]" num="4" thumb="1"  order="id DESC" return="info"}
                {loop $info $v}
                    <li>
                      <span class="fr"><a href="{$v['url']}" class="dw kp"><i class="fl"></i>120点</a></span>
                      <a href=""><img src="{thumb($r[thumb], 140, 105)}"></a>
                      <div class="fl wid42">
                         <p class="title"><a href="{$v['url']}">{str_cut($v['title'],38)}</a></p>
                         <p class="note">简介： {$r[description]}</p>
                         <p>
                           <em class="st3"></em><span class="clP">文件大小：</span>3MB<span class="clP">{date('Y-m-d',$v['inputtime'])}</span>
                         </p>
                      </div>
                    </li>
                {/loop}
                {/pc}{/if}
                {/loop}
                 </ul>
              </div>
           </div>
           <div>
             <div class="moduleBox">
              <h2 class="bgimg">
                <div class="tab_menu zpT">
                   <ul>
                      {loop subcat($catid,0) $r}
                      <li class="">{$r[catname]}</li>
                      {/loop}
                   </ul>
                </div>
              </h2>
              <div class="tab_box comList_z">
                    {loop subcat($catid,0) $r}{php $num++}
                    <div class="related down_ns" {if $num==1}style=" display:none"{/if}>
                      <ul>
                        {pc:content action="lists" catid="$r[catid]" num="4" thumb="1"  order="id DESC" return="info"}
                        {loop $info $v}
                        <li><span class="fr">需支付：<strong class="cl_f6">16点</strong></span><span>{date('m-d',$v['inputtime'])}</span><a href="{$v['url']}">{str_cut($v['title'],38)}</a></li>
                        {/loop}
                        {/pc}
                      </ul>
                    </div>
                    {/loop}
              </div>
           </div>
           </div>
        </div>
        <div class="fr wid27">
            <div class="bannerHlist">
              <a class="last" href=""><img src="{IMG_PATH}newlook_v20140211/bn3.png"></a>
           </div>
           <div class="moduleBox hei07">
               <div class="sortPr xzfl">
                  <h3>下载分类</h3>
                  <ul class="clearfix">
                     {loop subcat($catid) $r}
                     <li><a href="{$r[url]}">{$r[catname]}</a></li>
                     {/loop}
                  </ul>
               </div>
            </div>
            <div class="moduleBox">
            <h2><strong>下载排行</strong></h2>
            <div class="queue">
               <ul>
                {pc:content action="hits" catid="$catid" num="10" order="views DESC" cache="3600"}
                {loop $data $r}
                    <li><em{if $n==1} class="fi"{/if}{if $n==1} class="se"{/if}{if $n==1} class="th"{/if}>{$n}</em><a href="{$r[url]}">{$r[title]}</a></li>
                {/loop}
                {/pc}
               </ul>
            </div>
         </div>
         <div class="moduleBox">
            <h2><strong>推荐下载</strong></h2>
            <div class="queue">
               <ul>
                {pc:content  action="position" posid="5" order="listorder DESC" num="4"}
                {loop $data $r}
                    <li><a href="{$r[url]}" title="{$r[title]}">{str_cut($r[title],34)}</a></li>
                    <li><em{if $n==1} class="fi"{/if}{if $n==1} class="se"{/if}{if $n==1} class="th"{/if}>{$n}</em><a href="{$r[url]}">{str_cut($r[title],34)}</a></li>
                {/loop}
                {/pc}
               </ul>
            </div>
         </div>
        </div>
    </div>
  </div>
</div>
<!--Ebody-->
{template "content","footer"}
