{template "content","header"}
<!--Sbody-->
<div id="content">
  <div class="contentBox inner_bg">
    <div class="inner_nav">
      <div class="ser">
        <input type="text" class="txt" value="请输入关键字" onFocus="if (value=='请输入关键字'){value='';this.style.color='#333'}" onBlur="if(!value){value=defaultValue;this.style.color='#8fc5d3'}" >
        <button type="submit">搜索</button>
      </div>
      <div><a href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=106">招聘</a><a href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=107">求职</a></div>
    </div>

    <div class="in_top clearfix">
        <div class="fl wid71 clearfix">
            <div class="bannerHlist">
              <a class="last" href=""><img src="{IMG_PATH}newlook_v20140211/bn2.png"></a>
           </div>
           <div class="moduleBox">
              <ul class="filter fs_14 clearfix">
                 <li>栏目
                  <select>
                     <option>不限</option>
                  </select>
                 </li>
                 <li>职位名称<input type="text" class="txt">
                  <select>
                     <option>时间排序</option>
                  </select>
                 </li>
                 <li><input type="button" class="btn_s n_28" value="搜索"></li>
              </ul>
           </div>
           <div class="moduleBox">
              <h2 class="bgimg">
                <a class="more" href="">更多</a>
                <div class="tab_menu zpT">
                   <ul>
                      <li class="selected">招聘</li>
                      <li>求职</li>
                   </ul>
                </div>
              </h2>
              <div class="tab_box comList_z">
                  {php $j=1;}
                  {loop subcat($catid) $v}
                  {php if($v['type']!=0) continue;}
                  <div {if ($j!=1)} style="display:none"{/if}>
                     <dl class="hor clearfix">
                    {pc:content action="lists" catid="$v[catid]" thumb="1" num="2" order="id DESC"}
                    {loop $data $v}
                        <dd><a href="{$v[url]}"><img src="{thumb($v[thumb],80,60)}"></a><p class="pd">{$v[title]}</p>
                        <p class="pd"><strong><a href="{$v[url]}" class="cl_09">{str_cut($v[description],116,'..')}</a></strong></p></dd>
                    {/loop}
                    {/pc}
                     </dl>
                     <table width="100%" class="table">
                        <thead>
                           <tr>
                              <td width="40%">职位名称</td>
                              <td width="35%"></td>
                              <td width="15%"></td>
                              <td width="10%">截止日期</td>
                           </tr>
                        </thead>
                        <tbody>
                            {pc:content action="lists" catid="$v[catid]" num="5" order="id DESC"}
                            {loop $data $v}
                            <tr>
                              <td><a href="{$v[url]}" class="cl_09 fs_14">{$v[title]}</a></td>
                              <td class="cl_66"></td>
                              <td class="cl_66"></td>
                              <td class="cl_66">{date('Y-m-d', $v['updatetime'])}</td>
                           </tr>
                            {/loop}
                            {/pc}
                        </tbody>
                     </table>
                  </div>
                  {$j++}
                  {/loop}
              </div>
              <div class="top_cpy">
                       <!-- <h3>推荐企业</h3>
                       <ul class="clearfix">
                          <li><img src="{IMG_PATH}newlook_v20140211/bn3.png"></li>
                          <li><img src="{IMG_PATH}newlook_v20140211/bn3.png"></li>
                          <li><img src="{IMG_PATH}newlook_v20140211/bn3.png"></li>
                          <li><img src="{IMG_PATH}newlook_v20140211/bn3.png"></li>
                       </ul>
                       <ul class="clearfix">
                          <li><img src="{IMG_PATH}newlook_v20140211/bn3.png"></li>
                          <li><img src="{IMG_PATH}newlook_v20140211/bn3.png"></li>
                          <li><img src="{IMG_PATH}newlook_v20140211/bn3.png"></li>
                       </ul> -->
                </div>
           </div>
        </div>
        <div class="fr wid27">
        <div class="bannerHlist"> <a href="" class="last"><img src="{IMG_PATH}newlook_v20140211/bn3.png"></a> </div>
        <div class="moduleBox">
          <h2><strong>频道总排行</strong></h2>
          <div class="queue">
            <ul>
                {pc:content action="hits" catid="$catid" num="10" order="views DESC" cache="3600"}
                {loop $data $v}
                    <li><em {if $n==1}class="fi"{/if}{if $n==2}class="se"{/if}{if $n==3}class="th"{/if} >{$n}</em>{$v[title]}</a></li>
                {/loop}
                {/pc}
            </ul>
          </div>
        </div>
        <div class="moduleBox">
          <h2><strong>频道本月排行</strong></h2>
          <div class="queue">
            <ul>
                {pc:content action="hits" catid="$catid" num="8" order="monthviews DESC" cache="3600"}
                {loop $data $v}
                <li><em class="wd yl">{number_format($v[monthviews])}</em>{$v[title]}</a></li>
                {/loop}
                {/pc}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Ebody-->
{template "content","footer"}
