<div class="clear"></div>
<!--Sfooter-->
<div id="footer">
   <div class="footer">
      <div class="fl"><img src="{IMG_PATH}newlook_v20140211/common/logo_f.png" ></div>
      <p>
        {pc:content action="category" catid="1" num="15" siteid="$siteid" order="listorder ASC"}
        {loop $data $r}
        <a href="{$r[url]}" target="_blank">{$r[catname]}</a> &nbsp;|&nbsp;
        {/loop}
        {/pc}
        <a href="{APP_PATH}index.php?m=link">友情链接</a>
      </p>
      <p>蜀ICP备12000964号 | 绿色在线-成都园林网</p>
      <p>Powered by 绿色在线 1.0 &copy;  2013 </p>
   </div>
</div>
<!--Efooter-->
</body>
</html>
