<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
<link href="{CSS_PATH}newlook_v20140211/reset.css" rel="stylesheet" type="text/css">
{if $SEO['site_title'] != "公司模版"}<link href="{CSS_PATH}newlook_v20140211/common.css" rel="stylesheet" type="text/css">{/if}
{if $SEO['site_title'] == "公司模版"}<link href="{CSS_PATH}newlook_v20140211/company.css" rel="stylesheet" type="text/css">{/if}
{if $SEO['site_title'] != "公司模版"}<link href="{CSS_PATH}newlook_v20140211/index.css" rel="stylesheet" type="text/css">{/if}
{if $SEO['site_title'] != "首页" && $SEO['site_title'] != "公司模版"}<link href="{CSS_PATH}newlook_v20140211/other.css" rel="stylesheet" type="text/css">{/if}
<script type="text/javascript" src="{JS_PATH}newlook_v20140211/jquery-1.4.2.min.js"></script>
{if $SEO['site_title'] != "公司模版"}<script type="text/javascript" src="{JS_PATH}newlook_v20140211/common.js"></script>{/if}
{if $SEO['site_title'] == "公司模版"}<script type="text/javascript" src="{JS_PATH}newlook_v20140211/company.js"></script>{/if}
</head>
<body>
<div id="site-nav">
  <div id="site-nav-con"> <a href="">帮助中心</a>|<a href="">联系我们</a>|<a href="">关于我们</a> </div>
</div>
<!--Sheader-->
<div id="header">
  <div class="header-con">
    <h2 id="siteLogo"><a href=""> <img src="{IMG_PATH}newlook_v20140211/common/logo.png"> </a></h2>
    <div id="siteSearch">
      <div class="tab">
        <ul>
      {php $j=0}
      {php $search_model = getcache('search_model_'.$siteid, 'search');}
      {loop $search_model $k=>$v}
      {php $j++;}
          <li><a href="javascript:;" onclick="setmodel({$v['typeid']}, $(this));" style="outline:medium none;" hidefocus="true" {if $j==1 && $typeid=$v['typeid']} class="on" {/if}>{$v['name']}</a>{if $j != count($search_model)}|{/if}</li>
      {/loop}
      {php unset($j);}
        </ul>
      </div>
      <div class="panel">
      <form action="{APP_PATH}index.php" method="get" target="_blank">
        <div class="combobox">
        <input type="hidden" name="m" value="search"/>
        <input type="hidden" name="c" value="index"/>
        <input type="hidden" name="a" value="init"/>
        <input type="hidden" name="typeid" value="{$typeid}" id="typeid"/>
        <input type="hidden" name="siteid" value="{$siteid}" id="siteid"/>
        <input class="input-wrap" type="text" value="请输入关键字" onFocus="if (value=='请输入关键字'){value='';this.style.color='#333'}" onBlur="if(!value){value=defaultValue;this.style.color='#ccc'}" name="q" id="q" />
        <i></i> </div>
        <button type="submit">搜索</button>
      </form>
      </div>
    </div>
  </div>
</div>
<!--Eheader-->
<!--Snav-->
<div id="siteNav">
  <div id="siteNav-con">
    <!-- <ul class="clearfix">
      <li class="fr"><span><em></em>购物车<a href="">0</a> 件</span><a href="">去结算>></a></li>
      <li><a href="">首页<i></i></a>|</li>
      <li><a href="" class="on">商务<i></i></a>|</li>
      <li><a href="">资讯<i></i></a>|</li>
      <li><a href="">会员<i></i></a>|</li>
      <li><a href="">招聘求职<i></i></a>|</li>
      <li><a href="">下载<i></i></a>|</li>
    </ul> -->
    {pc:content action="category" catid="0" num="25" siteid="$siteid" order="listorder ASC"}
        <ul class="clearfix">
        <li class="fr"><span><em></em>购物车<a href="">0</a> 件</span><a href="">去结算>></a></li>
        <li><a href="{siteurl($siteid)}">首页<i></i></a>|</li>
        {loop $data $r}
        <li><a href="{$r['url']}" {if $top_parentid == $r['catid']}class="on"{/if}>{$r['catname']}<i></i></a>|</li>
        {/loop}
        </ul>
    {/pc}
    {php echo runhook('glogal_menu')}
  </div>
</div>
<!--Enav-->
