{template "content","header"}
<!--Sbody-->
<div id="content">
   <div class="contentBox clearfix">
      <div class="in_top clearfix">
                 <div class="leftBox wid42">
          <div class="bannerImg" >
            <ul class="slider" >
                {pc:content  action="position" posid="2" thumb="1" order="listorder DESC" num="5"}
                {loop $data $r}
                <li><img src="{thumb($r[thumb],420,274)}" alt=""><p><a href="{$r[url]}" title="{$r[title]}">{str_cut($r[title],36,'')}</a></p></li>
                {/loop}
                {/pc}
            </ul>
            <ul class="smallImg" >
                {pc:content  action="position" posid="2" order="listorder DESC" num="5"}
                <li>{$n}</li>
                {/pc}
            </ul>
        </div>
        <div class="moduleBox hei27">
             <h2><a href="{APP_PATH}index.php?m=yp&c=index&a=company&siteid={$siteid}" class="more">更多</a><strong>推荐企业</strong><span>我要推荐</span></h2>
             <div class="recomBox">
                 <ul>
                    {pc:yp action="get_company" num="1" thumb="1" order="regtime DESC" elite="1" }
                    {loop $data $r}
                    <li class="clearfix"><a href="{$r['url']}"><img src="{thumb($r[thumb],110,90)}"></a><h3>{str_cut($r['title'], 60)}</h3><p>{str_cut($r['description'], 35)}...</p></li>
                    {/loop}
                    {/pc}
                    <li class="clearfix">
                    {pc:yp action="get_company" num="4" thumb="1" order="regtime DESC" elite="1" }
                    {loop $data $r}
                    {if $n!=1}<a href="{$r['url']}"><img src="{thumb($r[thumb],110,90)}"></a>{/if}
                    {/loop}
                    {/pc}
                    </li>
                 </ul>
             </div>
        </div>
       </div>
       <div class="milldBox wid28">
         <div class="moduleBox hei27">
             <h2><a href="{APP_PATH}index.php?m=yp&c=index&a=model&modelid=17" class="more">更多</a><strong>最新产品</strong></h2>
             <div class="newPr">
                 <ul>
                    {pc:yp action="lists" modelid="17" num="4" thumb="1" order="id DESC"}
                    {loop $data $r}
                    <li><a href="{$r['url']}"><img src="{thumb($r[thumb],120,80)}"></a><p><a href="{$r['url']}">{str_cut($r['title'], 30)}</a></p></li>
                    {/loop}
                    {/pc}
                 </ul>
             </div>
        </div>
        <div class="moduleBox hei27">
             <h2><a href="{APP_PATH}index.php?m=yp&c=index&a=lists&modelid=18" class="more">更多</a><strong>最新商机</strong></h2>
             <div class="chanceBox">
                 <ul>
                    {pc:yp action="lists" modelid="18" num="7" order="id DESC"}
                    {loop $data $r}
                     <li class="clearfix"><span>{date("m-d",$r[updatetime])}</span><em>[{$r['tid']}]</em><a href="{$r['url']}">{str_cut($r['title'], 60)}</a></li>
                    {/loop}
                    {/pc}
                 </ul>
             </div>
        </div>
       </div>
       <div class="rightBox wid27">
              <div class="moduleBox loginBox">
                <h2><a href="">新会员注册</a><strong>会员登录</strong></h2>
                <ul>
                    <li>
                      <dl>
                         <dd class="sr"><input type="text" class="txt" value="用户名" onFocus="if (value=='用户名'){value='';this.style.color='#333'}" onBlur="if(!value){value=defaultValue;this.style.color='#aaa'}">
                         <input type="text" class="txt" value="密码" onFocus="if (value=='密码'){value='';this.style.color='#333'}" onBlur="if(!value){value=defaultValue;this.style.color='#aaa'}"></dd>
                         <dd><button class="login">登录</button></dd>
                      </dl>
                    </li>
                    <li><em id="recode"></em><span class="cl_aa">记住密码</span><a href="" class="fd_p">找回密码</a></li>
                </ul>
             </div>
             <div class="scrollNews" id="notice">
                <h3>最新通告</h3>
                <ul>
                   {pc:content action="position" posid="9" order="id DESC" num="10" cache="3600"}
                   {loop $data $r}
                     <li><a href="{$r[url]}">{$r['title']}</a></li>
                   {/loop}
                   {/pc}
                </ul>
             </div>
            <div class="moduleBox hei07">
               <div class="sortPr clearfix">
                  <h3>产品分类</h3>
                  <ul class="clearfix">
                    <?php pc_base::load_app_func('global','yp');?>
                    <?php $arr_parentid = yp_subcat(0, 17);?>
                    {loop $arr_parentid $r}
                    <li><a href="{$r['url']}">{$r['catname']}</a></li>
                    {/loop}
                  </ul>
               </div>
            </div>
           <div class="moduleBox hei27 bidding">
             <h2><a href="" class="more">更多</a><strong>招标信息</strong></h2>
             <div>
                 <ul>
                    {pc:content action="lists" catid="386" num="5" order="updatetime DESC"}
                    {loop $data $r}
                    <li class="clearfix"><span>{date("m-d",$r[updatetime])}</span><a href="{$r['url']}">{$r['title']}</a></li>
                    {/loop}
                    {/pc}
                 </ul>
             </div>
        </div>

       </div>
      </div>
      <div class="bannerHlist">
         <a href=""><img src="{IMG_PATH}newlook_v20140211/bn.png"></a><a href=""><img src="{IMG_PATH}newlook_v20140211/bn.png"></a><a href="" class="last"><img src="{IMG_PATH}newlook_v20140211/bn.png"></a>
      </div>
      <div class="in_mid clearfix">
        <div class="leftBox wid32">
        <div class="moduleBox hei38">
             <h2><a href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=51" class="more">更多</a><strong>行业新闻</strong><span><a href="">我要发布</a></span></h2>
             <div class="newinfo">
                 <ul>
                    {pc:content action="lists" catid="51" thumb="1" num="1" order="updatetime DESC"}
                    {loop $data $r}
                    <li class="clearfix"><h3><a href="{$r['url']}">{str_cut($r[title],36,'')}...</a></h3><a href="{$r['url']}"><img src="{thumb($r[thumb],160,120)}"></a><p class="note">{str_cut($r[description],55,'')}...</p></li>
                    {/loop}
                    {/pc}
                    {pc:content action="lists" catid="51" thumb="3" num="4" order="updatetime DESC"}
                    {loop $data $r}
                    {if $n != 1}
                    <li><h3><a href="{$r['url']}">{str_cut($r[title],36,'')}</a></h3><p class="list">{str_cut($r[description],55,'')}...</p></li>
                    {/if}
                    {/loop}
                    {/pc}
                 </ul>
             </div>
        </div>
       </div>
       <div class="milldBox wid32">
           <div class="moduleBox hei38">
               <h2><a href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=48" class="more">更多</a><strong>会员业绩</strong><span><a href="">我要发布</a></span></h2>
               <div class="recomBox user">
                 <ul>
                    {pc:content  action="lists" catid="48" moreinfo="1" order="updatetime DESC" thumb="1" num="1" return="info"}
                    {loop $info $v}
                    <li class="clearfix"><a href="{$v['url']}"><img src="{thumb($v[thumb],90,0)}"></a><h3><a href="{$v['url']}">{str_cut($v['title'],28)}</a></h3><p>{str_replace("|0","",str_cut($v['copyfrom'],30,""))}...</p></li>
                    {/loop}
                    {/pc}
                    {pc:content action="lists" catid="48" moreinfo="1" num="6" order="updatetime DESC" return="info"}
                    <ul class="list lh24 f14">
                    {loop $info $v}
                        <li class="clearfix"><a href="{$v['url']}" class="tit">{str_cut($v['title'],40)}</a><span>{str_replace("|0","",str_cut($v['copyfrom'],30,""))}...</span></li>
                    {/loop}
                    </ul>
                    {/pc}
                 </ul>
             </div>
           </div>
       </div>
       <div class="rightBox wid32">
           <div class="moduleBox hei38">
               <h2><a href="{APP_PATH}index.php?m=yp&c=index&a=company&siteid={$siteid}" class="more">更多</a><strong>企业样本</strong><span><a href="">我要发布</a></span></h2>
               <div class="imgList">
                 <ul class="clearfix">
                    {pc:yp action="get_company" num="4" thumb="1" order="regtime DESC" elite="1" }
                    {loop $data $r}
                    <li><a href="{$v['url']}"><img src="{$r['logo']}"></a><p><a href="{$r['url']}">{str_cut($r['companyname'], 60)}</a></p></li>
                    {/loop}
                    {/pc}
                 </ul>
             </div>
           </div>
       </div>
      </div>
       <div class="bannerHlist">
         <a href=""><img src="{IMG_PATH}newlook_v20140211/bn.png"></a><a href="" class="last"><img src="{IMG_PATH}newlook_v20140211/bn1.png"></a>
      </div>
      <div class="in_tab">
          <div class="leftBox wid32">
              <div class="tab_menu">
                   <a href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=49" class="more">更多</a>
                    <ul>
                        <li class="selected">招聘</li>
                        <li>求职</li>
                    </ul>
                </div>
            <div class="tab_box hei29">
                <div class="zp">
                   <ul>
                        {pc:content action="lists" catid="106" num="5" order="id DESC"}
                        {loop $data $r}
                        <li><h3><a href="{$r['url']}">{$r['title']}</a></h3><p><span class="time">{date("Y-m-d",$r[updatetime])}</span>{$r['company_name']}</p></li>
                        {/loop}
                        {/pc}
                   </ul>
                </div>
             <div class="zp">
                   <ul>
                        {pc:content action="lists" catid="107" num="5" order="id DESC"}
                        {loop $data $r}
                        <li><h3><a href="{$r['url']}">{$r['title']}</a></h3><p><span class="time">{date("Y-m-d",$r[updatetime])}</span>{$r['company_name']}</p></li>
                        {/loop}
                        {/pc}
                   </ul>
                </div>
        </div>
       </div>
       <div class="rightBox wid65">
              <div class="tab_menu">
                   <a href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=50" class="more">更多</a>
                   <span>下载</span>
                    <ul>
                        <li class="selected">资料</li>
                        <li>文章</li>
                        <li>图纸</li>
                        <li>图片</li>
                        <li>样本</li>
                        <li>专题</li>
                        <!-- <li>搜索</li> -->
                    </ul>
                </div>
            <div class="tab_box hei29">
                <div class="dowL">
                   <ul>
                        {pc:content action="lists" catid="99" num="7" order="id DESC"}
                        {loop $data $r}
                        <li><p><span class="time">{date("Y-m-d",$r[updatetime])}</span><a href="{$r['url']}">{$r['title']}</a></p></li>
                        {/loop}
                        {/pc}
                   </ul>
                </div>
                <div class="dowL">
                   <ul>
                        {pc:content action="lists" catid="98" num="7" order="id DESC"}
                        {loop $data $r}
                        <li><p><span class="time">{date("Y-m-d",$r[updatetime])}</span><a href="{$r['url']}">{$r['title']}</a></p></li>
                        {/loop}
                        {/pc}
                   </ul>
                </div>
                <div class="dowL">
                   <ul>
                        {pc:content action="lists" catid="97" num="7" order="id DESC"}
                        {loop $data $r}
                        <li><p><span class="time">{date("Y-m-d",$r[updatetime])}</span><a href="{$r['url']}">{$r['title']}</a></p></li>
                        {/loop}
                        {/pc}
                   </ul>
                </div>
                <div class="dowL">
                   <ul>
                        {pc:content action="lists" catid="100" num="7" order="id DESC"}
                        {loop $data $r}
                        <li><p><span class="time">{date("Y-m-d",$r[updatetime])}</span><a href="{$r['url']}">{$r['title']}</a></p></li>
                        {/loop}
                        {/pc}
                   </ul>
                </div>
                <div class="dowL">
                   <ul>
                        {pc:content action="lists" catid="101" num="7" order="id DESC"}
                        {loop $data $r}
                        <li><p><span class="time">{date("Y-m-d",$r[updatetime])}</span><a href="{$r['url']}">{$r['title']}</a></p></li>
                        {/loop}
                        {/pc}
                   </ul>
                </div>
                <div class="dowL">
                   <ul>
                        {pc:content action="lists" catid="102" num="7" order="id DESC"}
                        {loop $data $r}
                        <li><p><span class="time">{date("Y-m-d",$r[updatetime])}</span><a href="{$r['url']}">{$r['title']}</a></p></li>
                        {/loop}
                        {/pc}
                   </ul>
                </div>
                <!-- <div class="dowL">
                   <ul>
                     <li>
                         <p><span class="time">2013-09-30</span><a href="">7成都传承景观规划设计有限公司</a></p>
                      </li>
                      <li>
                         <p><span class="time">2013-09-30</span><a href="">7成都传承景观规划设计有限公司</a></p>
                      </li>
                      <li>
                         <p><span class="time">2013-09-30</span><a href="">7成都传承景观规划设计有限公司</a></p>
                      </li>
                      <li class="last">
                         <p><span class="time">2013-09-30</span><a href="">7成都传承景观规划设计有限公司</a></p>
                      </li>
                      <li>
                         <p><span class="time">2013-09-30</span><a href="">成都传承景观规划设计有限公司</a></p>
                      </li>
                      <li>
                         <p><span class="time">2013-09-30</span><a href="">成都传承景观规划设计有限公司</a></p>
                      </li>
                      <li class="last">
                         <p><span class="time">2013-09-30</span><a href="">成都传承景观规划设计有限公司</a></p>
                      </li>
                   </ul>
                </div> -->
        </div>
       </div>
      </div>
      <div class="clear"></div>
      <div class="adsList">
         <ul>
            <li class="clearfix"><a href=""><img src="{IMG_PATH}newlook_v20140211/ad2.png"></a><a href=""><img src="{IMG_PATH}newlook_v20140211/ad2.png"></a><a href=""><img src="{IMG_PATH}newlook_v20140211/ad2.png"></a><a href=""><img src="{IMG_PATH}newlook_v20140211/ad2.png"></a><a href="" class="last"><img src="{IMG_PATH}newlook_v20140211/ad2.png"></a></li>
            <li class="clearfix"><a href=""><img src="{IMG_PATH}newlook_v20140211/ad2.png"></a><a href=""><img src="{IMG_PATH}newlook_v20140211/ad2.png"></a><a href=""><img src="{IMG_PATH}newlook_v20140211/ad2.png"></a><a href=""><img src="{IMG_PATH}newlook_v20140211/ad2.png"></a><a href="" class="last"><img src="{IMG_PATH}newlook_v20140211/ad2.png"></a></li>
            <li class="clearfix"><a href=""><img src="{IMG_PATH}newlook_v20140211/ad2.png"></a><a href=""><img src="{IMG_PATH}newlook_v20140211/ad2.png"></a><a href=""><img src="{IMG_PATH}newlook_v20140211/ad2.png"></a><a href=""><img src="{IMG_PATH}newlook_v20140211/ad2.png"></a><a href="" class="last"><img src="{IMG_PATH}newlook_v20140211/ad2.png"></a></li>
            <li class="clearfix"><a href=""><img src="{IMG_PATH}newlook_v20140211/ad2.png"></a><a href=""><img src="{IMG_PATH}newlook_v20140211/ad2.png"></a><a href=""><img src="{IMG_PATH}newlook_v20140211/ad2.png"></a><a href=""><img src="{IMG_PATH}newlook_v20140211/ad2.png"></a><a href="" class="last"><img src="{IMG_PATH}newlook_v20140211/ad2.png"></a></li>
         </ul>
      </div>
      <div >
         <div class="moduleBox">
            <h2><a href="" class="more">更多</a><strong>友情链接</strong><span><a href="">我要申请</a></span></h2>
            <div class="logoList">
                <ul>
                    <li class="clearfix">
                    {pc:link  action="type_list" siteid="$siteid" linktype="1" thumb="1" order="listorder DESC" num="27" return="pic_link"}
                    {loop $pic_link $v}
                    {if $n <= 9}<a href="{$v['url']}"><img src="{$v[logo]}"></a>{/if}
                    {/loop}
                    {/pc}</li>
                    <li class="clearfix">
                    {pc:link  action="type_list" siteid="$siteid" linktype="1" thumb="1" order="listorder DESC" num="27" return="pic_link"}
                    {loop $pic_link $v}
                    {if $n > 9 && $n <= 18}<a href="{$v['url']}"><img src="{$v[logo]}"></a>{/if}
                    {/loop}
                    {/pc}</li>
                    <li class="clearfix">
                    {pc:link  action="type_list" siteid="$siteid" linktype="1" thumb="1" order="listorder DESC" num="27" return="pic_link"}
                    {loop $pic_link $v}
                    {if $n > 18 && $n <= 27}<a href="{$v['url']}"><img src="{$v[logo]}"></a>{/if}
                    {/loop}
                    {/pc}</li>
                    <li>
                    {pc:link  action="type_list" siteid="$siteid" order="listorder DESC" num="10" return="dat"}
                    {loop $dat $v}
                    <a href="{$v['url']}">{$v[title]}</a>
                    {/loop}
                    </li>
                </ul>
            </div>
         </div>
      </div>
   </div>
</div>
<!--Ebody-->
{template "content","footer"}
