{template "content","header"}
<!--Sbody-->
<div id="content">
  <div class="contentBox inner_bg">
    <div class="inner_nav">
      <div>{pc:content action="category" catid="$top_parentid" num="15" siteid="$siteid" order="listorder ASC"}
	  {loop $data $r}
	  <a href="{$r[url]}">{$r[catname]}</a>
	  {/loop}
      {/pc}</div>
    </div>
    <div class="in_top clearfix">
      <div class="fl wid71 clearfix">
        <div class="bannerHlist"> <a class="last" href=""><img src="images/bn2.png"></a> </div>
        <div class="moduleBox">
          <div class="listInfo">
            <h3>{$title}<br/>
              <span>{$inputtime}&nbsp;&nbsp;&nbsp;来源：{$copyfrom}&nbsp;&nbsp;&nbsp;评论 <a href="#comment_iframe" id="comment">0</a> 点击：0</span> </h3>
            <div class="summary"> {if $description}{$description}{/if} </div>
            <div class="content">
              {$content}
            </div>
            <div class="share clearfix"> 
              <!-- JiaThis Button BEGIN -->
              <div class="jiathis_style"> <span class="jiathis_txt">分享到：</span>
              <script type="text/javascript">
					function postToWb(){
						var _t = encodeURI(document.title);
						var _url = encodeURIComponent(document.location);
						var _appkey = encodeURI("cba3558104094dbaa4148d8caa436a0b");
						var _pic = encodeURI('{$thumb}');
						var _site = '';
						var _u = 'http://v.t.qq.com/share/share.php?url='+_url+'&appkey='+_appkey+'&site='+_site+'&pic='+_pic+'&title='+_t;
						window.open( _u,'', 'width=700, height=680, top=0, left=0, toolbar=no, menubar=no, scrollbars=no, location=yes, resizable=no, status=no' );
					}
				</script>
              <a class="jiathis_button_tqq" onclick="postToWb()"></a>
              <script type="text/javascript">document.write('<a class="jiathis_button_douban" href="http://www.douban.com/recommend/?url='+encodeURIComponent(location.href)+'&title='+encodeURIComponent('{new_addslashes($title)}')+'"></a>');</script>
              <script type="text/javascript">document.write('<a class="jiathis_button_tsina" href="http://v.t.sina.com.cn/share/share.php?url='+encodeURIComponent(location.href)+'&appkey=3172366919&title='+encodeURIComponent('{new_addslashes($title)}')+'"></a>');</script>
              <script type="text/javascript">document.write('<a class="jiathis_button_renren" href="http://share.renren.com/share/buttonshare.do?link='+encodeURIComponent(location.href)+'&title='+encodeURIComponent('{new_addslashes($title)}')+'"></a>');</script>
              <script type="text/javascript">document.write('<a class="jiathis_button_kaixin001" href="http://www.kaixin001.com/repaste/share.php?rtitle='+encodeURIComponent('{new_addslashes($title)}')+'&rurl='+encodeURIComponent(location.href)+'&rcontent="></a>');</script>
              <script type="text/javascript">document.write('<a class="jiathis_button_qzone" href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url='+encodeURIComponent(location.href)+'"></a>');</script>
              </div>
              <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script> 
              <!-- JiaThis Button END --> 
            </div>
            <div>
              <p class="fr">上一篇：<a href="{$previous_page[url]}">{$previous_page[title]}</a> | 下一篇：<a href="{$next_page[url]}">{$next_page[title]}</a></p>
              <p>相关热词搜索：{loop $keywords $keyword}<a href="{APP_PATH}index.php?m=content&c=tag&catid={$catid}&tag={urlencode($keyword)}" class="cl_09">{$keyword}</a> </p>
            </div>
            <div class="related">
              <h4>延伸阅读：</h4>
              <ul>
              	{pc:content action="relation" relation="$relation" id="$id" catid="$catid" num="5" keywords="$rs[keywords]"}
              	{if $data}
              	{loop $data $r}
                <li><span>{date('m-d',$r[inputtime])</span><a href="{$r[url]">{$r[title]}</a></li>
                {/loop}
              	{/if}
          		{/pc}
                <li><span>09-17</span><a href="">成都活水公园是如何把浊水变为清水的</a></li>
                <li><span>09-17</span><a href="">成都活水公园是如何把浊水变为清水的</a></li>
                <li><span>09-17</span><a href="">成都活水公园是如何把浊水变为清水的</a></li>
                <li><span>09-17</span><a href="">成都活水公园是如何把浊水变为清水的</a></li>
                <li><span>09-17</span><a href="">成都活水公园是如何把浊水变为清水的</a></li>
              </ul>
            </div>
            <!-- <div id="mood">
              <ul>
                <li> <span>0</span>
                  <div class="pillar"></div>
                  <i></i>
                  <label>震惊<br>
                    <input type="radio" onclick="vote(1)" name="n" id="n1">
                  </label>
                </li>
                <li> <span>0</span>
                  <div class="pillar"></div>
                  <i class="bj"></i>
                  <label>不解<br>
                    <input type="radio" onclick="vote(1)" name="n" id="n1">
                  </label>
                </li>
                <li> <span>0</span>
                  <div class="pillar"></div>
                  <i class="fn"></i>
                  <label>愤怒<br>
                    <input type="radio" onclick="vote(1)" name="n" id="n1">
                  </label>
                </li>
                <li> <span>0</span>
                  <div class="pillar"></div>
                  <i class="ej"></i>
                  <label>杯具<br>
                    <input type="radio" onclick="vote(1)" name="n" id="n1">
                  </label>
                </li>
                <li> <span>0</span>
                  <div class="pillar"></div>
                  <i class="wl"></i>
                  <label>无聊<br>
                    <input type="radio" onclick="vote(1)" name="n" id="n1">
                  </label>
                </li>
                <li> <span>0</span>
                  <div class="pillar"></div>
                  <i class="gx"></i>
                  <label>高兴<br>
                    <input type="radio" onclick="vote(1)" name="n" id="n1">
                  </label>
                </li>
                <li> <span>0</span>
                  <div class="pillar"></div>
                  <i class="zc"></i>
                  <label>支持<br>
                    <input type="radio" onclick="vote(1)" name="n" id="n1">
                  </label>
                </li>
                <li> <span>0</span>
                  <div class="pillar"></div>
                  <i class="az"></i>
                  <label>超赞<br>
                    <input type="radio" onclick="vote(1)" name="n" id="n1">
                  </label>
                </li>
              </ul>
            </div> -->
            <div class="clear"></div>
            {if $allow_comment && module_exists('comment')}
	        <iframe src="{APP_PATH}index.php?m=comment&c=index&a=init&commentid={id_encode("content_$catid",$id,$siteid)}&iframe=1" width="100%" height="100%" id="comment_iframe" frameborder="0" scrolling="no"></iframe>
	        {/if}
          </div>
        </div>
      </div>
      <div class="fr wid27">
        <div class="bannerHlist"> <a class="last" href=""><img src="images/bn3.png"></a> </div>
        <div class="moduleBox">
          <h2><strong>频道总排行</strong></h2>
          <div class="queue">
            <ul>
                {pc:content action="hits" catid="$catid" num="10" order="views DESC" cache="3600"}
                {loop $data $v}
                    <li><em {if $n==1}class="fi"{/if}{if $n==2}class="se"{/if}{if $n==3}class="th"{/if} >{$n}</em>{$v[title]}</a></li>
                {/loop}
                {/pc}
            </ul>
          </div>
        </div>
        <div class="moduleBox">
          <h2><strong>频道本月排行</strong></h2>
          <div class="queue">
            <ul>
                {pc:content action="hits" catid="$catid" num="8" order="monthviews DESC" cache="3600"}
                {loop $data $v}
                <li><em class="wd yl">{number_format($v[monthviews])}</em>{$v[title]}</a></li>
                {/loop}
                {/pc}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Ebody-->
{template "content","footer"}