{template "content","header"}
<!--Sbody-->
<div id="content">
  <div class="contentBox inner_bg">
    <div class="inner_nav">
      <div class="ser">
        <input type="text" class="txt" value="请输入关键字" onFocus="if (value=='请输入关键字'){value='';this.style.color='#333'}" onBlur="if(!value){value=defaultValue;this.style.color='#8fc5d3'}" >
        <button type="submit">搜索</button>
      </div>
      <div><a href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=106">招聘</a><a href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=107">求职</a></div>
    </div>

    <div class="in_top clearfix">
        <div class="fl wid71 clearfix">
            <div class="bannerHlist">
              <a class="last" href=""><img src="{IMG_PATH}newlook_v20140211/bn2.png"></a>
           </div>
           <div class="moduleBox">
              <div class="listInfo">
                 <h3 class="clearfix"><strong class="fl">{$title}</strong><span class="fr">{$inputtime}</span></h3>
                 <ul class="nzw fs_14 clearfix">
                    <li>
                       <p class="tit">产品描述</p>
                    </li>
                    <li class="fl wid30">
                      <label>公司名称：</label>{$company_name}
                    </li>
                    <li class="fl wid30">
                      <label>公司性质：</label>{$business_nature}
                    </li>
                    <li class="fl wid30">
                      <label>公司规模：</label>{$company_scale}
                    </li>
                 </ul>
                 <ul class="nzw fs_14 clearfix">
                    <li>
                       <p class="tit">职位要求</p>
                    </li>
                    <li class="fl wid30">
                      <label>工作经验：</label>{$work_experience}
                    </li>
                    <li class="fl wid30">
                      <label>最低学历：</label>{$education}
                    </li>
                    <li class="fl wid30">
                      <label>工作性质：</label>{$work_type}
                    </li>
                    <li class="fl wid30">
                      <label>工作地点：</label>{$working_place}
                    </li>
                    <li class="fl wid30">
                      <label>招聘人数：</label>{$recruiting_numbers}
                    </li>
                    <li class="fl wid30">
                      <label>截止时间：</label>{$deadline}
                    </li>
                 </ul>
                 <ul class="clearfix">
                     <li class="clearfix">
                       <p class="tit">职位描述</p>
                       {$content}
                    </li>
                 </ul>
                  <ul class="nzw fs_14 clearfix">
                    <li>
                       <p class="tit">联系方式</p>
                    </li>
                    <li class="fr"><a href="" class="apl">立即申请</a></li>
                    <li>
                      <label>邮箱：</label><strong class="cl_f6">{$email}</strong>
                    </li>
                    <li>
                      <label>电话：</label><strong class="cl_f6">{$phone}</strong>
                    </li>
                 </ul>
                 <div>
              <p class="fr">上一篇：<a href="{$previous_page[url]}">{$previous_page[title]}</a> | 下一篇：<a href="{$next_page[url]}">{$next_page[title]}</a></p>
              <p>相关热词搜索：{loop $keywords $keyword}<a href="{APP_PATH}index.php?m=content&c=tag&catid={$catid}&tag={urlencode($keyword)}" class="blue">{$keyword}</a> {/loop}</p>
            </div>
             <div class="related">
              <h4>延伸阅读：</h4>
              <ul>
                {pc:content action="relation" relation="$relation" id="$id" catid="$catid" num="5" keywords="$rs[keywords]"}
                {if $data}
                {loop $data $r}
                <li><span>({date('m-d',$r[inputtime])})</span><a href="{$r[url]}">{$r[title]}</a></li>
                {/loop}
                {/if}
                {/pc}
              </ul>
            </div>

              </div>

           </div>
        </div>
        <div class="fr wid27">
        <div class="bannerHlist"> <a class="last" href=""><img src="{IMG_PATH}newlook_v20140211/bn3.png"></a> </div>
        <div class="moduleBox">
          <h2><strong>频道总排行</strong></h2>
          <div class="queue">
            <ul>
                {pc:content action="hits" catid="$catid" num="10" order="views DESC" cache="3600"}
                {loop $data $v}
                    <li><em {if $n==1}class="fi"{/if}{if $n==2}class="se"{/if}{if $n==3}class="th"{/if} >{$n}</em><a href="{$v[url]}">{$v[title]}</a></li>
                {/loop}
                {/pc}
            </ul>
          </div>
        </div>
        <div class="moduleBox">
          <h2><strong>频道本月排行</strong></h2>
          <div class="queue">
            <ul>
                {pc:content action="hits" catid="$catid" num="8" order="monthviews DESC" cache="3600"}
                {loop $data $v}
                <li><em class="wd yl">{number_format($v[monthviews])}</em><a href="{$v[url]}">{$v[title]}</a></li>
                {/loop}
                {/pc}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Ebody-->
{template "content","footer"}
